//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 02 16:05:52 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "TMDSB<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "TMDSB<1>" LOCATE = SITE "A7" LEVEL 1;
COMP "TMDSB<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "TMDSB<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "L15" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "H12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "E18" LEVEL 1;
COMP "RSTBTN" LOCATE = SITE "N4" LEVEL 1;
COMP "DEBUG<0>" LOCATE = SITE "B12" LEVEL 1;
COMP "DEBUG<1>" LOCATE = SITE "B11" LEVEL 1;
COMP "TMDS<0>" LOCATE = SITE "D8" LEVEL 1;
COMP "TMDS<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "TMDS<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "TMDS<3>" LOCATE = SITE "B6" LEVEL 1;
PIN PCLK_GEN_INST_pins<4> = BEL "PCLK_GEN_INST" PINNAME PROGCLK;
TIMEGRP TNM_CLK50M = BEL "switch" BEL "sws_sync_q_0" BEL "sws_sync_q_1" BEL
        "sws_sync_q_2" BEL "sws_sync_q_3" BEL "pclk_D_0" BEL "pclk_D_1" BEL
        "pclk_D_2" BEL "pclk_D_3" BEL "pclk_D_4" BEL "pclk_M_0" BEL "pclk_M_3"
        BEL "pclk_M_4" PIN "PCLK_GEN_INST_pins<4>" BEL "pwrup_0" BEL
        "SRL16E_0" BEL "debsw3/blockout_0" BEL "debsw3/ctr_15" BEL
        "debsw3/ctr_14" BEL "debsw3/ctr_13" BEL "debsw3/ctr_12" BEL
        "debsw3/ctr_11" BEL "debsw3/ctr_10" BEL "debsw3/ctr_9" BEL
        "debsw3/ctr_8" BEL "debsw3/ctr_7" BEL "debsw3/ctr_6" BEL
        "debsw3/ctr_5" BEL "debsw3/ctr_4" BEL "debsw3/ctr_3" BEL
        "debsw3/ctr_2" BEL "debsw3/ctr_1" BEL "debsw3/ctr_0" BEL
        "debsw3/transition" BEL "debsw3/debnced" BEL "debsw3/sync_q" BEL
        "debsw2/blockout_0" BEL "debsw2/ctr_15" BEL "debsw2/ctr_14" BEL
        "debsw2/ctr_13" BEL "debsw2/ctr_12" BEL "debsw2/ctr_11" BEL
        "debsw2/ctr_10" BEL "debsw2/ctr_9" BEL "debsw2/ctr_8" BEL
        "debsw2/ctr_7" BEL "debsw2/ctr_6" BEL "debsw2/ctr_5" BEL
        "debsw2/ctr_4" BEL "debsw2/ctr_3" BEL "debsw2/ctr_2" BEL
        "debsw2/ctr_1" BEL "debsw2/ctr_0" BEL "debsw2/transition" BEL
        "debsw2/debnced" BEL "debsw2/sync_q" BEL "debsw1/blockout_0" BEL
        "debsw1/ctr_15" BEL "debsw1/ctr_14" BEL "debsw1/ctr_13" BEL
        "debsw1/ctr_12" BEL "debsw1/ctr_11" BEL "debsw1/ctr_10" BEL
        "debsw1/ctr_9" BEL "debsw1/ctr_8" BEL "debsw1/ctr_7" BEL
        "debsw1/ctr_6" BEL "debsw1/ctr_5" BEL "debsw1/ctr_4" BEL
        "debsw1/ctr_3" BEL "debsw1/ctr_2" BEL "debsw1/ctr_1" BEL
        "debsw1/ctr_0" BEL "debsw1/transition" BEL "debsw1/debnced" BEL
        "debsw1/sync_q" BEL "debsw0/blockout_0" BEL "debsw0/ctr_15" BEL
        "debsw0/ctr_14" BEL "debsw0/ctr_13" BEL "debsw0/ctr_12" BEL
        "debsw0/ctr_11" BEL "debsw0/ctr_10" BEL "debsw0/ctr_9" BEL
        "debsw0/ctr_8" BEL "debsw0/ctr_7" BEL "debsw0/ctr_6" BEL
        "debsw0/ctr_5" BEL "debsw0/ctr_4" BEL "debsw0/ctr_3" BEL
        "debsw0/ctr_2" BEL "debsw0/ctr_1" BEL "debsw0/ctr_0" BEL
        "debsw0/transition" BEL "debsw0/debnced" BEL "debsw0/sync_q" BEL
        "dcmspi_0/GOGAP" BEL "dcmspi_0/MCNT" BEL "dcmspi_0/DMGAP" BEL
        "dcmspi_0/VCNT" BEL "dcmspi_0/PROGDATA" BEL "dcmspi_0/sndval_7" BEL
        "dcmspi_0/sndval_6" BEL "dcmspi_0/sndval_5" BEL "dcmspi_0/sndval_4"
        BEL "dcmspi_0/sndval_3" BEL "dcmspi_0/sndval_2" BEL
        "dcmspi_0/sndval_1" BEL "dcmspi_0/sndval_0" BEL "dcmspi_0/PROGEN" BEL
        "debsw3/cntr_en" BEL "debsw2/cntr_en" BEL "debsw1/cntr_en" BEL
        "debsw0/cntr_en" BEL "dcmspi_0/sndm" BEL "dcmspi_0/sndd" BEL
        "synchro_sws_0/use_fdc.fdb" BEL "synchro_sws_0/use_fdc.fda" BEL
        "synchro_sws_1/use_fdc.fdb" BEL "synchro_sws_1/use_fdc.fda" BEL
        "synchro_sws_2/use_fdc.fdb" BEL "synchro_sws_2/use_fdc.fda" BEL
        "synchro_sws_3/use_fdc.fdb" BEL "synchro_sws_3/use_fdc.fda";
PIN clkout/oserdes_s_pins<1> = BEL "clkout/oserdes_s" PINNAME CLKDIV;
PIN clkout/oserdes_m_pins<1> = BEL "clkout/oserdes_m" PINNAME CLKDIV;
PIN oserdes2/oserdes_s_pins<1> = BEL "oserdes2/oserdes_s" PINNAME CLKDIV;
PIN oserdes2/oserdes_m_pins<1> = BEL "oserdes2/oserdes_m" PINNAME CLKDIV;
PIN oserdes1/oserdes_s_pins<1> = BEL "oserdes1/oserdes_s" PINNAME CLKDIV;
PIN oserdes1/oserdes_m_pins<1> = BEL "oserdes1/oserdes_m" PINNAME CLKDIV;
PIN oserdes0/oserdes_s_pins<1> = BEL "oserdes0/oserdes_s" PINNAME CLKDIV;
PIN oserdes0/oserdes_m_pins<1> = BEL "oserdes0/oserdes_m" PINNAME CLKDIV;
TIMEGRP TNM_PCLKX2 = BEL "toggle" BEL "tmdsclkint_0" PIN
        "clkout/oserdes_s_pins<1>" PIN "clkout/oserdes_m_pins<1>" PIN
        "oserdes2/oserdes_s_pins<1>" PIN "oserdes2/oserdes_m_pins<1>" PIN
        "oserdes1/oserdes_s_pins<1>" PIN "oserdes1/oserdes_m_pins<1>" PIN
        "oserdes0/oserdes_s_pins<1>" PIN "oserdes0/oserdes_m_pins<1>" BEL
        "enc0/pixel2x/fd_out14" BEL "enc0/pixel2x/fd_out13" BEL
        "enc0/pixel2x/fd_out12" BEL "enc0/pixel2x/fd_out11" BEL
        "enc0/pixel2x/fd_out10" BEL "enc0/pixel2x/fd_out9" BEL
        "enc0/pixel2x/fd_out8" BEL "enc0/pixel2x/fd_out7" BEL
        "enc0/pixel2x/fd_out6" BEL "enc0/pixel2x/fd_out5" BEL
        "enc0/pixel2x/fd_out4" BEL "enc0/pixel2x/fd_out3" BEL
        "enc0/pixel2x/fd_out2" BEL "enc0/pixel2x/fd_out1" BEL
        "enc0/pixel2x/fd_out0" BEL "enc0/pixel2x/fd_db29" BEL
        "enc0/pixel2x/fd_db28" BEL "enc0/pixel2x/fd_db27" BEL
        "enc0/pixel2x/fd_db26" BEL "enc0/pixel2x/fd_db25" BEL
        "enc0/pixel2x/fd_db24" BEL "enc0/pixel2x/fd_db23" BEL
        "enc0/pixel2x/fd_db22" BEL "enc0/pixel2x/fd_db21" BEL
        "enc0/pixel2x/fd_db20" BEL "enc0/pixel2x/fd_db19" BEL
        "enc0/pixel2x/fd_db18" BEL "enc0/pixel2x/fd_db17" BEL
        "enc0/pixel2x/fd_db16" BEL "enc0/pixel2x/fd_db15" BEL
        "enc0/pixel2x/fd_db14" BEL "enc0/pixel2x/fd_db13" BEL
        "enc0/pixel2x/fd_db12" BEL "enc0/pixel2x/fd_db11" BEL
        "enc0/pixel2x/fd_db10" BEL "enc0/pixel2x/fd_db9" BEL
        "enc0/pixel2x/fd_db8" BEL "enc0/pixel2x/fd_db7" BEL
        "enc0/pixel2x/fd_db6" BEL "enc0/pixel2x/fd_db5" BEL
        "enc0/pixel2x/fd_db4" BEL "enc0/pixel2x/fd_db3" BEL
        "enc0/pixel2x/fd_db2" BEL "enc0/pixel2x/fd_db1" BEL
        "enc0/pixel2x/fd_db0" BEL "enc0/pixel2x/fdc_ra3" BEL
        "enc0/pixel2x/fdc_ra2" BEL "enc0/pixel2x/fdc_ra1" BEL
        "enc0/pixel2x/fdc_ra0" BEL "enc0/pixel2x/sync_gen" BEL
        "enc0/pixel2x/fd_rstp" BEL "enc0/pixel2x/fd_rstsync" BEL
        "enc0/pixel2x/fdp_rst";
TIMEGRP TNM_PCLK = BEL "sws_clk_sync_0" BEL "sws_clk_sync_1" BEL
        "sws_clk_sync_2" BEL "sws_clk_sync_3" BEL "active_q" BEL "hsync" BEL
        "vsync" BEL "VGA_HSYNC" BEL "VGA_VSYNC" BEL "clrbar/o_g_7" BEL
        "clrbar/o_g_6" BEL "clrbar/o_g_5" BEL "clrbar/o_g_4" BEL
        "clrbar/o_g_3" BEL "clrbar/o_g_2" BEL "clrbar/o_g_1" BEL
        "clrbar/o_g_0" BEL "clrbar/o_r_7" BEL "clrbar/o_r_6" BEL
        "clrbar/o_r_5" BEL "clrbar/o_r_4" BEL "clrbar/o_r_3" BEL
        "clrbar/o_r_2" BEL "clrbar/o_r_1" BEL "clrbar/o_r_0" BEL
        "clrbar/o_b_7" BEL "clrbar/o_b_6" BEL "clrbar/o_b_5" BEL
        "clrbar/o_b_4" BEL "clrbar/o_b_3" BEL "clrbar/o_b_2" BEL
        "clrbar/o_b_1" BEL "clrbar/o_b_0" BEL "clrbar/Hregion_4" BEL
        "clrbar/Hregion_3" BEL "clrbar/Hregion_2" BEL "clrbar/Hregion_1" BEL
        "clrbar/Hregion_0" BEL "clrbar/Vregion_1" BEL "clrbar/Vregion_0" BEL
        "enc0/encb/cnt_4" BEL "enc0/encb/cnt_3" BEL "enc0/encb/cnt_2" BEL
        "enc0/encb/cnt_1" BEL "enc0/encb/dout_9" BEL "enc0/encb/dout_8" BEL
        "enc0/encb/dout_7" BEL "enc0/encb/dout_6" BEL "enc0/encb/dout_5" BEL
        "enc0/encb/dout_4" BEL "enc0/encb/dout_3" BEL "enc0/encb/dout_2" BEL
        "enc0/encb/dout_1" BEL "enc0/encb/dout_0" BEL "enc0/encb/n0q_m_3" BEL
        "enc0/encb/n0q_m_2" BEL "enc0/encb/n0q_m_1" BEL "enc0/encb/n1q_m_3"
        BEL "enc0/encb/n1q_m_2" BEL "enc0/encb/n1q_m_1" BEL
        "enc0/encb/q_m_reg_8" BEL "enc0/encb/q_m_reg_7" BEL
        "enc0/encb/q_m_reg_6" BEL "enc0/encb/q_m_reg_5" BEL
        "enc0/encb/q_m_reg_4" BEL "enc0/encb/q_m_reg_3" BEL
        "enc0/encb/q_m_reg_2" BEL "enc0/encb/q_m_reg_1" BEL
        "enc0/encb/q_m_reg_0" BEL "enc0/encb/n1d_3" BEL "enc0/encb/n1d_2" BEL
        "enc0/encb/n1d_1" BEL "enc0/encb/n1d_0" BEL "enc0/encb/din_q_7" BEL
        "enc0/encb/din_q_6" BEL "enc0/encb/din_q_5" BEL "enc0/encb/din_q_4"
        BEL "enc0/encb/din_q_3" BEL "enc0/encb/din_q_2" BEL
        "enc0/encb/din_q_1" BEL "enc0/encb/din_q_0" BEL "enc0/encg/cnt_4" BEL
        "enc0/encg/cnt_3" BEL "enc0/encg/cnt_2" BEL "enc0/encg/cnt_1" BEL
        "enc0/encg/dout_9" BEL "enc0/encg/dout_8" BEL "enc0/encg/dout_7" BEL
        "enc0/encg/dout_6" BEL "enc0/encg/dout_5" BEL "enc0/encg/dout_4" BEL
        "enc0/encg/dout_3" BEL "enc0/encg/dout_2" BEL "enc0/encg/dout_1" BEL
        "enc0/encg/dout_0" BEL "enc0/encg/n0q_m_3" BEL "enc0/encg/n0q_m_2" BEL
        "enc0/encg/n0q_m_1" BEL "enc0/encg/n1q_m_3" BEL "enc0/encg/n1q_m_2"
        BEL "enc0/encg/n1q_m_1" BEL "enc0/encg/q_m_reg_8" BEL
        "enc0/encg/q_m_reg_7" BEL "enc0/encg/q_m_reg_6" BEL
        "enc0/encg/q_m_reg_5" BEL "enc0/encg/q_m_reg_4" BEL
        "enc0/encg/q_m_reg_3" BEL "enc0/encg/q_m_reg_2" BEL
        "enc0/encg/q_m_reg_1" BEL "enc0/encg/q_m_reg_0" BEL "enc0/encg/n1d_3"
        BEL "enc0/encg/n1d_2" BEL "enc0/encg/n1d_1" BEL "enc0/encg/n1d_0" BEL
        "enc0/encg/din_q_7" BEL "enc0/encg/din_q_6" BEL "enc0/encg/din_q_5"
        BEL "enc0/encg/din_q_4" BEL "enc0/encg/din_q_3" BEL
        "enc0/encg/din_q_2" BEL "enc0/encg/din_q_1" BEL "enc0/encg/din_q_0"
        BEL "enc0/encr/cnt_4" BEL "enc0/encr/cnt_3" BEL "enc0/encr/cnt_2" BEL
        "enc0/encr/cnt_1" BEL "enc0/encr/dout_9" BEL "enc0/encr/dout_8" BEL
        "enc0/encr/dout_7" BEL "enc0/encr/dout_6" BEL "enc0/encr/dout_5" BEL
        "enc0/encr/dout_4" BEL "enc0/encr/dout_3" BEL "enc0/encr/dout_2" BEL
        "enc0/encr/dout_1" BEL "enc0/encr/dout_0" BEL "enc0/encr/n0q_m_3" BEL
        "enc0/encr/n0q_m_2" BEL "enc0/encr/n0q_m_1" BEL "enc0/encr/n1q_m_3"
        BEL "enc0/encr/n1q_m_2" BEL "enc0/encr/n1q_m_1" BEL
        "enc0/encr/q_m_reg_8" BEL "enc0/encr/q_m_reg_7" BEL
        "enc0/encr/q_m_reg_6" BEL "enc0/encr/q_m_reg_5" BEL
        "enc0/encr/q_m_reg_4" BEL "enc0/encr/q_m_reg_3" BEL
        "enc0/encr/q_m_reg_2" BEL "enc0/encr/q_m_reg_1" BEL
        "enc0/encr/q_m_reg_0" BEL "enc0/encr/n1d_3" BEL "enc0/encr/n1d_2" BEL
        "enc0/encr/n1d_1" BEL "enc0/encr/n1d_0" BEL "enc0/encr/din_q_7" BEL
        "enc0/encr/din_q_6" BEL "enc0/encr/din_q_5" BEL "enc0/encr/din_q_4"
        BEL "enc0/encr/din_q_3" BEL "enc0/encr/din_q_2" BEL
        "enc0/encr/din_q_1" BEL "enc0/encr/din_q_0" BEL "enc0/pixel2x/fdc_wa3"
        BEL "enc0/pixel2x/fdc_wa2" BEL "enc0/pixel2x/fdc_wa1" BEL
        "enc0/pixel2x/fdc_wa0" BEL "timing_inst/hpos_cnt_10" BEL
        "timing_inst/hpos_cnt_9" BEL "timing_inst/hpos_cnt_8" BEL
        "timing_inst/hpos_cnt_7" BEL "timing_inst/hpos_cnt_6" BEL
        "timing_inst/hpos_cnt_5" BEL "timing_inst/hpos_cnt_4" BEL
        "timing_inst/hpos_cnt_3" BEL "timing_inst/hpos_cnt_2" BEL
        "timing_inst/hpos_cnt_1" BEL "timing_inst/hpos_cnt_0" BEL
        "timing_inst/vpos_cnt_10" BEL "timing_inst/vpos_cnt_9" BEL
        "timing_inst/vpos_cnt_8" BEL "timing_inst/vpos_cnt_7" BEL
        "timing_inst/vpos_cnt_6" BEL "timing_inst/vpos_cnt_5" BEL
        "timing_inst/vpos_cnt_4" BEL "timing_inst/vpos_cnt_3" BEL
        "timing_inst/vpos_cnt_2" BEL "timing_inst/vpos_cnt_1" BEL
        "timing_inst/vpos_cnt_0" BEL "clk_sws_0/use_fdc.fdb" BEL
        "clk_sws_0/use_fdc.fda" BEL "clk_sws_1/use_fdc.fdb" BEL
        "clk_sws_1/use_fdc.fda" BEL "clk_sws_2/use_fdc.fdb" BEL
        "clk_sws_2/use_fdc.fda" BEL "clk_sws_3/use_fdc.fdb" BEL
        "clk_sws_3/use_fdc.fda" BEL "synchro_reset/use_fdp.fdb" BEL
        "synchro_reset/use_fdp.fda" BEL "timing_inst/hpos_cnt_10_1" BEL
        "timing_inst/hpos_cnt_9_1" BEL "timing_inst/hpos_cnt_8_1" BEL
        "timing_inst/hpos_cnt_10_2" BEL "timing_inst/hpos_cnt_6_1" BEL
        "timing_inst/hpos_cnt_5_1" BEL "timing_inst/hpos_cnt_7_1" BEL
        "enc0/encb/Mshreg_de_reg" BEL "enc0/encb/de_reg" BEL
        "enc0/encb/Mshreg_c1_reg" BEL "enc0/encb/c1_reg" BEL
        "enc0/encb/Mshreg_c0_reg" BEL "enc0/encb/c0_reg" BEL
        "enc0/pixel2x/fifo_u/dram16s[29].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[29].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[28].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[28].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[27].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[27].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[26].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[26].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[25].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[25].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[24].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[24].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[23].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[23].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[22].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[22].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[21].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[21].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[20].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[20].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[19].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[19].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[18].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[18].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[17].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[17].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[16].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[16].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[15].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[15].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[14].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[14].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[13].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[13].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[12].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[12].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[11].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[11].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[10].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[10].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[9].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[9].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[8].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[8].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[7].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[7].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[6].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[6].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[5].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[5].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[4].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[4].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[3].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[3].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[2].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[2].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[1].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[1].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[0].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[0].i_RAM16X1D_U/DP";
PIN clkout/oserdes_s_pins<0> = BEL "clkout/oserdes_s" PINNAME CLK0;
PIN clkout/oserdes_m_pins<0> = BEL "clkout/oserdes_m" PINNAME CLK0;
PIN oserdes2/oserdes_s_pins<0> = BEL "oserdes2/oserdes_s" PINNAME CLK0;
PIN oserdes2/oserdes_m_pins<0> = BEL "oserdes2/oserdes_m" PINNAME CLK0;
PIN oserdes1/oserdes_s_pins<0> = BEL "oserdes1/oserdes_s" PINNAME CLK0;
PIN oserdes1/oserdes_m_pins<0> = BEL "oserdes1/oserdes_m" PINNAME CLK0;
PIN oserdes0/oserdes_s_pins<0> = BEL "oserdes0/oserdes_s" PINNAME CLK0;
PIN oserdes0/oserdes_m_pins<0> = BEL "oserdes0/oserdes_m" PINNAME CLK0;
TIMEGRP TNM_PCLKX10 = PIN "clkout/oserdes_s_pins<0>" PIN
        "clkout/oserdes_m_pins<0>" PIN "oserdes2/oserdes_s_pins<0>" PIN
        "oserdes2/oserdes_m_pins<0>" PIN "oserdes1/oserdes_s_pins<0>" PIN
        "oserdes1/oserdes_m_pins<0>" PIN "oserdes0/oserdes_s_pins<0>" PIN
        "oserdes0/oserdes_m_pins<0>";
TIMEGRP bramgrp = BEL "enc0/pixel2x/fifo_u/dram16s[29].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[29].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[28].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[28].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[27].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[27].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[26].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[26].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[25].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[25].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[24].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[24].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[23].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[23].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[22].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[22].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[21].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[21].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[20].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[20].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[19].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[19].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[18].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[18].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[17].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[17].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[16].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[16].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[15].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[15].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[14].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[14].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[13].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[13].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[12].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[12].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[11].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[11].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[10].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[10].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[9].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[9].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[8].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[8].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[7].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[7].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[6].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[6].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[5].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[5].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[4].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[4].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[3].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[3].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[2].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[2].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[1].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[1].i_RAM16X1D_U/DP" BEL
        "enc0/pixel2x/fifo_u/dram16s[0].i_RAM16X1D_U/SP" BEL
        "enc0/pixel2x/fifo_u/dram16s[0].i_RAM16X1D_U/DP";
TIMEGRP fddbgrp = BEL "enc0/pixel2x/fd_db29" BEL "enc0/pixel2x/fd_db28" BEL
        "enc0/pixel2x/fd_db27" BEL "enc0/pixel2x/fd_db26" BEL
        "enc0/pixel2x/fd_db25" BEL "enc0/pixel2x/fd_db24" BEL
        "enc0/pixel2x/fd_db23" BEL "enc0/pixel2x/fd_db22" BEL
        "enc0/pixel2x/fd_db21" BEL "enc0/pixel2x/fd_db20" BEL
        "enc0/pixel2x/fd_db19" BEL "enc0/pixel2x/fd_db18" BEL
        "enc0/pixel2x/fd_db17" BEL "enc0/pixel2x/fd_db16" BEL
        "enc0/pixel2x/fd_db15" BEL "enc0/pixel2x/fd_db14" BEL
        "enc0/pixel2x/fd_db13" BEL "enc0/pixel2x/fd_db12" BEL
        "enc0/pixel2x/fd_db11" BEL "enc0/pixel2x/fd_db10" BEL
        "enc0/pixel2x/fd_db9" BEL "enc0/pixel2x/fd_db8" BEL
        "enc0/pixel2x/fd_db7" BEL "enc0/pixel2x/fd_db6" BEL
        "enc0/pixel2x/fd_db5" BEL "enc0/pixel2x/fd_db4" BEL
        "enc0/pixel2x/fd_db3" BEL "enc0/pixel2x/fd_db2" BEL
        "enc0/pixel2x/fd_db1" BEL "enc0/pixel2x/fd_db0";
TIMEGRP bramra = BEL "enc0/pixel2x/fdc_ra3" BEL "enc0/pixel2x/fdc_ra2" BEL
        "enc0/pixel2x/fdc_ra1" BEL "enc0/pixel2x/fdc_ra0";
TS_CLK50M = PERIOD TIMEGRP "TNM_CLK50M" 50 MHz HIGH 50% PRIORITY 0;
TS_PCLK = PERIOD TIMEGRP "TNM_PCLK" 108 MHz HIGH 50% PRIORITY 0;
TS_PCLKX2 = PERIOD TIMEGRP "TNM_PCLKX2" TS_PCLK * 2 HIGH 50%;
TS_PCLKX10 = PERIOD TIMEGRP "TNM_PCLKX10" TS_PCLK * 10 HIGH 50%;
TS_ramdo = MAXDELAY FROM TIMEGRP "bramgrp" TO TIMEGRP "fddbgrp" TS_PCLK;
TS_ramra = MAXDELAY FROM TIMEGRP "bramra" TO TIMEGRP "fddbgrp" TS_PCLK;
SCHEMATIC END;

